*{
  text-align: center;
}
.firstcolorflag{
    background:white;
    width:100% ; 
    height:35px ;
}
.secondcolorflag{
    background:green; 
    width:100% ; 
    height:35px ;
}
.thirdcolorflag{
    background:red; 
    width:100% ; 
    height:35px ;
}
.moto1{
    color:#159628; 
    text-align:center;
    font-size:60px; 
    font-family: Arial;
}
.moto2{
    color:red; 
    text-align:center;
    font-size:30px; 
    font-family: Arial;
}
.part1{
    font-family: 'Cormorant Garamond', serif;
    color: #159628;
    font-size: 80px;
}
.part2{
    font-family: 'Cormorant Garamond', serif;
    color: red;
    font-size: 80px;
}
.containers {
  position: absolute;
  left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  
}
.titleone{
 position: absolute;
 bottom: 300px;
 left: 250px;
 text-align: justify;
}
.textone{
 position: absolute;
 bottom: 200px;
 left: 200px;
 width: 300px;
 text-align: justify;
}
.titletwo{
 position: absolute;
 bottom: 300px;
 left: 600px;
 text-align: justify;
}
.texttwo{
 position: absolute;
 bottom: 200px;
 left: 600px;
 overflow: visible;
 width: 200px;
 text-align: justify;
}
.titlethree{
 position: absolute;
 bottom: 300px;
 left: 900px;
 text-align: justify;
}
.textthree{
 position: absolute;
 bottom: 200px;
 left: 900px;  
 text-align: justify;
}